[Unit]
Description=Init zram module with 10 devices
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=__zramtool -I 10

[Install]
WantedBy=multi-user.target
